html, body {
  height: 100%;
  font-family: 'Urbanist', sans-serif;
}

#app-container {
  width: 100%;
  height: 100%;
  margin: none;
}

#top-container {
  width: 100%;
  height: 30%;
  margin: none;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  background-color:#7e96d9;/*#4f78e8;
  /*#5d6fb3; #8eade8 #7289da*/
  /*border-radius: 5px;*/
}

#top-container-bar {
  width: 100%;
  height: 10%;
  margin: none;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  background-color:#88a2e9;
  border-radius: 0 0 5px 5px;
  /*#5d6fb3; #8eade8 #7289da*/
  /*border-radius: 0 0 50% 50% / 50px;*/
  /*border-radius: 5px /50;*/
}

#home-button {
  width: 60%;
  height: 100%;
  margin: none;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  background-color:#88a2e9;
  /*#5d6fb3; #8eade8 #7289da*/
  border-radius: 5px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#lower-container {
  width: 100%;
  height: 80%;
  margin: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

#bot-image {
  width: 6vh;
  height: 6vh;
  /*5vh, 5vh, 20px*/
  padding: 0px 16px;
}

#title {
  color: white;
  font-family: "Varela Round", sans-serif;
  font-size: 3vh;
  /*font-size: 70%;*/
  padding: 0px 20px;
  font-weight: 600;
  /*float: left;*/
  /*float: left;*/
  /*margin: 10px;
  vertical-align: middle;*/
  /*vertical-align: middle;*/
  /*font-size: 50px;*/
}

.__content-mid {
  height: 100%;
  margin: none;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}

#main-content {
 width: 70%;
}
#main-sidebar {
  width: 28%;
  justify-content: right;
}

.__sub-main {
  width: 99%;
  height: 95%;
  /*border: 1px solid lightslategrey;*/
  /*border: 1px solid #f2f2f2;*/
  border: 1px solid #cccccc;
  border-radius: 10px;
}

#sub__main-sidebar {
  /*justify-items: */
}